<div class="section section-header">
	<div class="parallax filter filter-color-black">
		<div class="image"
         style="background-image: url('assets/img/listen_bible.jpg'); background-size: contain; background-position: top;">
    </div> 
    <div class="container">
      <div class="content">
        <h1>Contact Us</h1>
        <h3>If you have questions, comments, or any other feedback, 
          <br>please contact us through the form below.</h3>
      </div>
    </div>           	
  </div>
</div>
<div class="container">
  <div class="section" id="contact-section">
    <div class="container">
      <div class="row" [hidden]="submitted">
        <form role="form" id="contact-form" class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <input type="text" class="form-control" id="name"
                  required
                  [(ngModel)]="model.name" name="name"
                  #name="ngModel" placeholder="Name">
                  <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                    Name is required
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <input type="email" class="form-control" id="email"
                  required
                  [(ngModel)]="model.email" name="email"
                  #email="ngModel" placeholder="E-mail">
                  <div [hidden]="email.valid || email.pristine"
                        class="alert alert-danger">
                        E-mail is required
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control textarea" [(ngModel)]="model.message"
                #message="ngModel" rows="3" name="message" id="message" placeholder="Message"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success main-btn pull-right" [disabled]="!contactForm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div [hidden]="!submitted">
          <h2>Thank you! {{ model.name }}</h2>
          <!-- <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ model.name }}</div>
          </div>  -->
          <br>
          <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>

    </div>
  </div>
</div>