<div class="section section-header">
	<div class="parallax filter filter-color-red">
			 <div class="image"
				 style="background-image: url('assets/img/path.jpg')">
			 </div>            
		 </div>
   </div>
 
   <div class="section" id="videocategories">
		 <div class="container">
			 <div class="row">
				 <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 leftmenu">
					 <h3>Browse Categories</h3>
					 	<ul>
							 <li class="activeleftmenu" [class.active]="filterBy=='BIBLE_DOC'" (click)="filterBy='BIBLE_DOC'"><a>Bible Documentaries (बाइबलीय एेतिहासीक डकुमेण्ट्रीहरु)</a></li>
							 <li [class.active]="filterBy=='JOSEPH'" (click)="filterBy='JOSEPH'"><a>Joseph Magar</a></li>
							 <li [class.active]="filterBy=='NUTITION'" (click)="filterBy='NUTITION'"><a>Nutrition</a></li>
							 <li [class.active]="filterBy=='SABBATHSCHOOL'" (click)="filterBy='SABBATHSCHOOL'"><a>S B Thing</a></li>					 
							 <li [class.active]="filterBy=='SEVENTH'" (click)="filterBy='SEVENTH'"><a>Seventh Day Sabbath Series</a></li>
						</ul>
				 </div> -->
 <!-- Left Sidebar -->
 
				<div class=" col-sm-4 col-md-3 col-lg-3 leftmenu">
					 <div class="list-group">
						 <ul class="activeleftmenu">
							 <li class="list-group-item dropdown" [class.active] ><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Categories <b class="caret"></b></a>
								 <ul class="dropdown-menu">
									 <li class="list-group-item" [class.active]="filterBy=='BIBLE_DOC'" (click)="filterBy='BIBLE_DOC'" >
											  Bible Documentaries
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='BIBLE_STUDY'" (click)="filterBy='BIBLE_STUDY'" >
											  Bible Studies
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='REMEDIES'" (click)="filterBy='REMEDIES'" >
											  Natural Remedies
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='HEALTH'" (click)="filterBy='HEALTH'" >
											  Health Classes
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='SABBATHSCHOOL'" (click)="filterBy='SABBATHSCHOOL'" >
											 Weekly Sabbath School <span class="badge">14</span>
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='SEVENTH'" (click)="filterBy='SEVENTH'" >
												 7th Day Sabbath Series
									 </li>
								 </ul>
							 </li>
							 <li class="list-group-item dropdown" [class.active] ><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Presenters <b class="caret"></b></a>
								 <ul class="dropdown-menu">
									 <li class="list-group-item" [class.active]="filterBy=='JOSEPH_MAGAR'" (click)="filterBy='JOSEPH_MAGAR'" >
											 Joseph Magar
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='SB_THING'" (click)="filterBy='SB_THING'" >
											 S. B. Thing
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='ISAAC_PRADHAN'" (click)="filterBy='ISAAC_PRADHAN'" >
											 Isaac Pradhan
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='MARSH_CHARDHARY'" (click)="filterBy='MARSH_CHARDHARY'" >
											 Marsh Chaudhary <span class="badge">14</span>
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='DOUG_BACHELOR'" (click)="filterBy='DOUG_BACHELOR'" >
											 Doug Bachelor <span class="badge">14</span>
									 </li>
								 </ul>
							 </li>
							 <li class="list-group-item dropdown" [class.active] ><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Topics <b class="caret"></b></a>
								 <ul class="dropdown-menu">
									 <li class="list-group-item" [class.active]="filterBy=='PROPHECY'" (click)="filterBy='PROPHECY'" >
											 Prophecy
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='FAITH'" (click)="filterBy='FAITH'" >
											 Faith
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='SIN'" (click)="filterBy='SIN'" >
											 Sin
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='SABBATHSCHOOL'" (click)="filterBy='SABBATHSCHOOL'" >
											 Health <span class="badge">14</span>
									 </li>
									 <li class="list-group-item" [class.active]="filterBy=='SEVENTH'" (click)="filterBy='SEVENTH'" >
												 Misc
									 </li>
								 </ul>
							 </li>
						 </ul>
					 </div>
				</div>
 
				<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
					<h3>Thoughts from the Mount of Blessing</h3>
					<iframe frameborder='0'  width='960' height='840'  title='Preview' src='../../assets/flipbooks/MB/mb_flipbook.html' type='text/html' allowfullscreen='true' scrolling='no' marginwidth='0' marginheight='0'></iframe>
				</div>
			</div>
		</div>
	</div>
		 
 
 