<div class="section section-header">
	<div class="parallax filter filter-color-red">
			 <div class="image"
				 style="background-image: url('assets/img/header-.jpeg')">
			 </div>            
		 </div>
   </div>
 
 <div class="section" id="videocategories">
		 <div class="container">
			 <div class="row">
				 <div class="col-sm-5 col-md-3 leftmenu">
					 <h3>Browse Categories</h3>
					 <ul class="list-group" >			
							 <li  *ngFor = "let item of category" class="list-group-item" [ngClass]="{active: isActive(item)}" (click)= selectedItem(item)><a>{{item}}</a></li>
					 </ul>
				 </div>
				 <div class="col-sm-7 col-md-9">
					 <h3>{{title}}</h3>
							 <div class="row">
								 <ul class="list-unstyled video-list-thumbs row">
										 <li class="col-lg-4 col-md-6" *ngFor = "let video of (visibleVideos | VideoFilter:filterBy)"
										 	storeClicked [videoLink]='video.link' 
										 	[videoDescription] = 'video.presentor' 
										 	[videotitle] = 'video.title'
											 [videosubtitle] = 'video.topic'>
											 <div>
												<img src={{video.url}} alt="Barca" class="img-responsive thumbnail" height="130px" />
												<h2>{{video.title}}</h2>
												<span class="glyphicon glyphicon-play-circle"></span>
											 <!--<span class="duration">03:15</span>-->	
											</div>
									 </li>
									</ul>
							 </div>
							 </div>
							 <div class="clearfix"></div><nav></nav>
				 </div>
			 </div>
		 </div>
		 
 
 